<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgroTech Solutions Ltd.</title>
</head>
<body>
  <section id="about">
    <h2>Про компанію</h2>
    <p>AgroTech Solutions Ltd. - це компанія, яка присвячена забезпеченню сільськогосподарських підприємств сучасними та інноваційними рішеннями за допомогою впровадження IoT технологій. Наша мета полягає в тому, щоб допомогти фермерам у Західній частині України підвищити ефективність їхнього сільського господарства, зменшити витрати та підвищити врожайність за допомогою сучасних технологій.</p>
    <h2>Ми спеціалізуємося на:</h2>
    <ul>
        <li>Розробці та виробництві сучасного сільськогосподарського обладнання: Наші інженери та програмісти працюють над створенням інноваційного обладнання, обладнаного датчиками та засобами збору даних, яке допомагає фермерам контролювати та оптимізувати процеси виробництва.</li>
        <li>Впровадженні систем моніторингу та управління: Ми надаємо фермерам можливість моніторити різні аспекти сільського господарства, такі як вологість ґрунту, рівень рослинних популяцій та погодні умови, а також керувати ними за допомогою наших систем управління.   </li>
        <li>Аналізі отриманих даних: Ми збираємо велику кількість даних та проводимо їх аналіз для оптимізації виробництва, зменшення витрат та підвищення врожайності.</li>
        <li>Консультаційних послугах: Наші експерти надають консультації фермерам щодо використання IoT технологій у їхній діяльності, допомагаючи їм вибрати оптимальні рішення для їх потреб.</li>
        <li>Наукових дослідженнях: Ми активно проводимо наукові дослідження у сфері сільського господарства з використанням новітніх технологій, щоб постійно покращувати наші продукти та послуги.</li>
    </ul>
    <p>AgroTech Solutions Ltd. працює з фермерами будь-якого розміру, допомагаючи їм забезпечити стабільність та успішний розвиток їхнього бізнесу. Наша команда складається з висококваліфікованих інженерів, програмістів, агрономів та аналітиків даних, які працюють разом, щоб забезпечити нашим клієнтам найкращі рішення у галузі сільського господарства.</p>
  </section>

  <section id="contact">
    <h2>Контакти</h2>
    <p>Адреса: Україна, 23600, м. Тульчин, Вінницька обл., вул. Сільськогосподарська, 10</p>
    <p>Телефон: +38 (095) 533 04 77</p>
    <p>Email: info&#64;agrotechsolutions.com</p>
  </section>
</body>
</html>